  
  .appsCard {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% + 20px);
  }
  
  .appCard {
    display: flex;
    flex-direction: column;
    width: calc(33.3% - 20px);
    font-size: 16px;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .appCard:hover {
    transform: scale(1.02);
    background-color: var(--theme-bg-color);
  }
  .appCard .svg {
    width: 28px;
    border-radius: 6px;
    margin-right: 12px;
    flex-shrink: 0;
  }
  .appCard + .appCard {
    margin-left: 20px;
  }
  .appCard .span {
    display: flex;
    align-items: center;
  }
  .appCardSubtext {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    margin-top: 20px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
  }
  .appCardButtons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 16px;
  }
  .contentButton {
    background-color: #3a6df0;
    border: none;
    padding: 8px 26px;
    color: #fff;
    border-radius: 20px;
    margin-top: 16px;
    cursor: pointer;
    transition: 0.3s;
    white-space: nowrap;
  }
  .statusButton {
    font-size: 15px;
    margin-top: 0;
    padding: 6px 24px;
  }
  @media screen and (max-width: 390px) {
    .statusButton {
      padding: 6px 14px;
    }
  }
  .statusButton.open {
    background: none;
    color: var(--button-inactive);
    border: 1px solid var(--button-inactive);
  }
  .statusButton:not(.open):hover {
    color: #fff;
    border-color: #fff;
  }
  
  .contentButton:not(.open):hover {
    background: #1e59f1;
  } 
  .contentSectionTitle {
    color: var(--content-title-color);
    margin-bottom: 14px;
  }
  @media screen and (max-width: 1110px) {
    .appVard {
      width: calc(50% - 20px);
    }
    /* .appCard:last-child {
      margin-top: 20px;
      margin-left: 0px;
    } */
  }
  @media screen and (max-width: 565px) {
    .appCard {
      width: calc(100% - 20px);
      margin-top: 20px;
    }
    .appCard + .appCard {
      margin-left: 0;
    }
  }