.wrapper{
    height: calc(100vh);
    position: relative;
    top:60px;
    width: 100px;
    display: flex;
    background-color: transparent;
    align-items: flex-start;
    padding-top: 60px;
    width: 100%;
    justify-content: center;
    z-index: 2;
}.container.contactContainer {
    width: 80%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.h5{
    text-align: center;
    font-size: large;
}
.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contactOption .a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size : 0.8em;
}
/*                FORM                 */
.form {
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.input ,.textarea {
    width: 100%;
    padding: 1.5em;
    border-radius: 0.5em;
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    resize: none;
    color: white;
}
.btn{
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 0.5em;
    padding: 1.5em;
    cursor:pointer;
}
.btn:hover{
    background-color: black;
    border-color:white;
}
.input:hover ,.textarea:hover{
    border-color: white;
    background-color: black;
}
/*  MEDIA QUERIES( SMALL DEVICES )    */
@media screen and ( max-width:600px ) {
    .contactOption > .h5 {
        word-break: break-word;
    }
}
/*  MEDIA QUERIES( medium DEVICES )    */
@media screen and ( max-width:1080px ) {
    .contactOption > .h5 {
        word-break: break-word;
    }
}
@media screen and ( max-width:1238px ) {
    .a{font-size : 6.8em;}
}
@media screen and ( max-width:1238px ) {
    .contact {
        scale:0.7;
    }
}
@media screen and ( max-width:804px ) {
    .contact {
        scale:0.5;
    }
}
@media screen and ( max-width:546px ) {
    .contact {
        scale:0.4;
    }
}
@media screen and ( max-width:420px ) {
    .contact {
        scale:0.3;
    }
}