@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
 }
:root {
  --user-button-circle: rgba(0,0,0,0.025);
  --user-button-cardborder: rgba(255,255,255,0.25);
  --user-button-text:#323133;
  --user-button-shadow:rgba(0,0,0,0.1);
  --theme-bg-color: rgba(16 18 27 / 40%);
  --border-color: rgba(113 119 144 / 25%);
  --theme-color: #f9fafb;
  --inactive-color: rgb(113 119 144 / 78%);
  --body-font: "Poppins", sans-serif;
  --hover-menu-bg: rgba(12 15 25 / 30%);
  --content-title-color: #999ba5;
  --content-bg: rgb(146 151 179 / 13%);
  --button-inactive: rgb(249 250 251 / 55%);
  --dropdown-bg: #21242d;
  --dropdown-hover: rgb(42 46 60);
  --popup-bg: rgb(22 25 37);
  --search-bg:  #14162b;
  --overlay-bg: rgba(36, 39, 59, 0.3);
  --scrollbar-bg: rgb(1 2 3 / 40%);
 }

 body {
  margin: 0;
  overflow: scroll;
  backdrop-filter:  brightness(50%);
  background-color: black;
}

a {
  text-decoration: none;
  color:red;
}

* {
  box-sizing: border-box;
  outline: none;
  color: white;
}
::-webkit-scrollbar {
 width: 6px;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 background: var(--scrollbar-bg);
 border-radius: 10px;
}
@keyframes typing {
	from { width: 0 ;}
	to { width: 100% ;}
  }
.text1{
  color: white;
  z-index: 30;
	position: absolute;
	left:calc(13vw);
  right: calc(87vw);
	font-size: 45px;
	top:calc(50% - 30px);
	width: 0;
	font-family: Tangerine,'Times New Roman', Times, serif;
	overflow: hidden; /* Ensures the content is not revealed until the animation */ /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  max-width: 1600px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10s forwards 1s
}
.text2{
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 30;
	position: absolute;
	left:calc(13vw);
  right: calc(87vw);
	font-size: 24px;
	top:calc(10% - 30px);
  height:auto;
  background-color: #999ba5;
	font-family: Tangerine,'Times New Roman', Times, serif;
  line-break: normal;
  overflow-wrap: break-word;
	overflow:hidden; /* Ensures the content is not revealed until the animation */ /* The typwriter cursor */
  white-space: pre-wrap; /* Keeps the content on a single line */
  text-align: center;
  max-width: 1300px;
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10s infinite 2s
}

